/* homePage section styling */
.homePage {
    display: flex;
    background: url('../image/landing-page-background.jpg') no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    width: 100%;
    top: 110px;

}

.homePage .max-width {
  width: 100%;
  display: flex;
}
.homePage .max-width .row {
  margin-right: 0;
}
.homePage .homePage-content .text-1 {
    font-size: 27px;
}
.homePage .homePage-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}


.homePage .homePage-content .text-2 .last-name:hover {
    color: crimson;
    text-shadow: 2px 2px white;
}



.homePage .homePage-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.homePage .homePage-content .text-3 span {
    color: crimson;
    font-weight: 500;
}
.homePage .homePage-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.homePage .homePage-content a:hover {
    color: crimson;
    background: none;
    box-shadow: 0px 0px 10px 10px #0ff;
}