.auto-type {
    display: 'flex';
    /* justify-content: 'center';
    align-items: "center";
    height: '100vh'; */
    /* background-color: aqua; */
    font-size: 65px;
    margin-left: 20%;
    margin-top: 25%;
    color:crimson;

}

.intro {
    font-size: 35px;
    color:azure;
    margin-left: 20%;
    margin-bottom: 10px;
}

.expend { 
    display: flex; 
  
    margin-left: 40%;
    color: white;
    
}

 .text-3 span {
    color: crimson;
    font-weight: 500;
}